<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài 2 - Lab 7: Searching By Keywords And Page</title>
</head>
<body>
<form action="/product/search-and-page" method="POST">
    <input type="text" name="keywords" th:value="${keyword}">
    <button>Search</button>
</form>

<table border="1" style="width: 100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Create Date</th>
    </tr>
    </thead>

    <tbody>
    <th:block th:each="item : ${page.content}">
        <tr>
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.createDate}"></td>
        </tr>
    </th:block>
    </tbody>
</table>

<a th:href="@{|/product/search-and-page?p=0|}">First</a>
<a th:href="@{|/product/search-and-page?p=${page.number - 1}|}">Previous</a>
<a th:href="@{|/product/search-and-page?p=${page.number + 1}|}">Next</a>
<a th:href="@{|/product/search-and-page?p=${page.totalPages - 1}|}">Last</a>

<ul>
    <li>Số thực thể hiện tại: [[${page.numberOfElements}]]</li>
    <li>Trang số: [[${page.number}]]</li>
    <li>Kích thước trang: [[${page.size}]]</li>
    <li>Tổng số thực thể: [[${page.totalElements}]]</li>
    <li>Tổng số trang: [[${page.totalPages}]]</li>
</ul>


</body>
</html>