<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>
</head>
<body>
<hr>
    <nav>
        <a href="/home/index" th:text="#{menu.home}">Trang chủ</a>
        <a href="/home/about" th:text="#{menu.about}">Giới thiệu</a>
        <div style="position: fixed; top: 5px; right: 5px">
            <a href="?lang=vi">Tiếng Việt</a>
            <a href="?lang=en">English</a>
        </div>
    </nav>
<hr>
</body>
</html>